#nav-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    background-color: #CCCED8;
    /*
        #CCCED8
    */
    font-size: 25px;
    font-weight: bolder;
    padding-left: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: gray;
}
.mid-sec {
    padding-top: 20px;
    padding-bottom: 40px;
}

.right-sec {
    width: 50%;

    justify-content: center;
    align-items: center;

}
.left-sec {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.format-sec{
    display: flex;
}
.pokedex-outline {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    height: 550px;
    width: 450px;
    border-radius: 40px;
    background-color: #ed1e24;
    margin: 20px;
    border: solid;
    border-width: 5px;
    
    border-color: #C0090D;
}

.top-sec {
    height: 15%;
    border-bottom: solid;
    border-color: #C0090D;
    display: flex;
    justify-content: left;
    align-items: start;
    border-width: 5px;
}
.bottom-sec{
    height: 85%;
    
}
#lights{
    width: 55px;
    padding: 10px;
}

#blue-circle{
    width: 55px;
    height: 55px;
    margin: 10px;
}

#screen{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#bottom-dex {
    height: 30%;


    justify-content: center;
    align-items: center;
    display: flex;

    border: none;
}
.screen-obj {
    background-color: #ccd0cb;
    /*
        ccd0cb
        #EAEAEA
        border-radius: 15px;
    */

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    height: 80%;
    width: 80%;
    border-radius: 2px;
    background-image: url("pokemon-background.png");
    background-size: 304px 171px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pokemon {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(0%);
}

.option-buttons{
    margin: 5px;
    border-radius: 3px;
    border: none;
    transition-duration: 0.25s;
    padding: 3px;
}
.option-buttons:hover{
    opacity: 0.85;
}


.right-sec{
    display: block;
    width: 50%;
}
.options-block{
    height: 20%;
    display: block;
    margin: 20px;
}

#guess{
    border:none;
    height: 30px;
    width: 250px;
}

.options-block{
    width: 30%;
    border: solid;
    border-radius: 5px;
    background-color: mintcream;
}

#choices{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

#modes {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
#timer {

}
#score {

}

body {
    background-color: #A0A4B8;
    font-family: 'Poppins' , sans-serif;
}
#footer {
    /*
        background-color: #706993;
    */
    background-color: grey;
    height: 150px;
    font-weight: 400;
}

#score1 {
    position: relative;
    top: 110px;
    left: 60px;
}   